<h1>NgTodo <span>&nbsp;&nbsp;{{vm.getNumTodos()}}&nbsp;&nbsp;</span></h1>

<form ng-hide="vm.selected">
  <input type="text" ng-model="product.task" placeholder="Task" />
  <input class="clickable" type="submit" ng-click="vm.addTodo(product); product = {}" value="Add" />
</form>

<table ng-hide="vm.selected">
	<thead>
		<tr>
			<td><strong>Task</strong></td>
			<td><strong>Mark</strong></td>
			<td><strong>Completed</strong></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in vm.todos">
			<td id="taskColumn" ng-click="vm.displayTodo(product)">{{product.task}}</td>
			<td>
				<input type="checkbox" ng-model="product.completed">
			</td>
			<td id="doneColumn">{{product.completed}}</td>
		</tr>
	</tbody>
</table>
<br>
<div ng-show="vm.selected">
<p><strong>TASK : </strong>{{vm.selected.task}}</p>
<p><strong>DESCRIPTION : </strong>{{vm.selected.description}}</p>
<p><strong>COMPLETED? : </strong>{{vm.selected.completed}}</p>
<button class="clickable" ng-click="vm.displayTable()">Go Back</button>
<button class="clickable" ng-click="vm.setEditTodo()">Edit</button>
</div>
<br>

<form id = "formDiv" ng-show="vm.editTodo">
  <strong>Task:</strong>&emsp;<input type="text" ng-model="vm.editTodo.task" placeholder="Task" /><br><br>
  <strong>Description:</strong>&emsp;<input type="text" ng-model="vm.editTodo.description" placeholder="Description" /><br><br>
  <strong>Completed?:</strong>&emsp;<input type="checkbox" ng-model="vm.editTodo.completed" placeholder="Completed" /><br><br>
  <input class="clickable" type="submit" ng-click="vm.editTodo = null" value="Cancel" />
  <input class="clickable" type="submit" ng-click="vm.updateTodo(vm.editTodo)" value="Save" />
</form>








<!-- <table 
<th>Tasks</th>
<tr ng-repeat="product in vm.todos">
<td>{{product.task}}</td>
<td><input type="checkbox" 
<form class="well" ng-show="vm.editTodo">
	Task<br>
	<input ng-model="vm.editTodo.task"><br>
	Description<br>
	<input ng-model="vm.editTodo.description"><br>
	Completed?<br>
	<input type="checkbox" ng-model="vm.editTodo.completed"><br>
	<button type="button" class="btn btn-danger" ng-click="vm.editTodo = null">Cancel</button>
	<button type="button" class="btn btn-info" ng-click="vm.updateTodo(vm.editTodo)">Save</button>
</form>
ng-model="product.completed"></td>
<td>{{product.completed}}</td>

</tr>
</table> -->

